<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Your Angular App</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <div style="position: relative;">
    <img src="SIS.png" style="width: 110px; height: auto;">
    <label id="customerLabel" class="tag-name">{{ customerLabel }}</label>
  </div>
  <div [formGroup]="headerForm">
    <div class="row">
        <label class="tag">User register.</label>
    </div>
  </div>

  <div class="divider-line"></div>
  <div class="table-container">
    <table id="filterDataTable">
      <thead>
        <tr>
          <th class="size-usrname">Username</th>
          <th class="size-fname">First Name</th>
          <th class="size-lname">Last Name</th>
          <th class="size-cuscode">Customer Code</th>
          <th class="size-cusname">Customer Name</th>
          <th class="size-email">Email</th>
          <th class="size-pos">Position</th>
          <th class="size-role">Role</th>
          <th class="size-stat">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of allData">
          <th class="text-center size-usrname">{{ record.usrusrname }}</th>
          <th class="text-center size-fname">{{ record.ushfname }}</th>
          <th class="text-center size-lname">{{ record.ushlname }}</th>
          <th class="text-center size-cuscode">{{ record.usrcuscode }}</th>
          <th class="text-center size-cusname">{{ record.usrcusname }}</th>
          <th class="text-center size-email">{{ record.ushemail }}</th>
          <th class="text-center size-pos">{{ record.ushpos }}</th>
          <th class="text-center size-role">{{ record.usrrole }}</th>
          <th class="text-center size-stat">{{ record.usrstat }}</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <app-popup *ngIf="warning_pop" [title]="'WARNING MESSAGE'"
      [message]="'คุณยังไม่ได้เลือกรายการ กรุณาเลือกรายการก่อน ทำการ Payment.'" [headerColor]="'#FCD69D'"
      [confirmButton]="true" (close)="warning_pop = false" (confirm)="handleConfirm('warning')">
    </app-popup>
  </div>

  <!-- Success Popup -->
  <div>
    <app-popup *ngIf="success_pop" [title]="'SUCCESS MESSAGE !'" [message]="'ขอบคุณที่ใช้บริการ.'"
      [headerColor]="'#CCEFE8'" [confirmButton]="true" (close)="success_pop = false"
      (confirm)="handleConfirm('success')">
    </app-popup>
  </div>

  <!-- Fail Popup -->
  <div>
    <app-popup *ngIf="fail_pop" [title]="'FAIL MESSAGE !'" [message]="'ทำรายการไม่สำเร็จ.'" [headerColor]="'#FFDBDB'"
      [confirmButton]="true" (close)="fail_pop = false" (confirm)="handleConfirm('fail')">
    </app-popup>
  </div>

  <!-- Fail Popup -->
  <div>
    <app-popup *ngIf="warning_search" [title]="'WARNING MESSAGE !'"
      [message]="'กรุณากรอก Customer Code. และ Invoice No.'" [headerColor]="'#FCD69D'" [confirmButton]="true"
      (close)="warning_search = false" (confirm)="handleConfirm('search')">
    </app-popup>
  </div>

</body>

</html>

<!-- Same for allDataTable -->