<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Your Angular App</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div *ngIf="!isMobile" class="desktop-layout">
    <!-- <div [formGroup]="headerForm"> -->
    <div class="row">
      <div class="column">
        <div class="row-btn">
          <div class="tag">
            <span class="material-icons username">manage_accounts</span>
            <span class="username">Manage User.</span>
          </div>
          <button class="button create-payment-button" (click)="createUsr()">
            <span class="material-icons">person_add</span>
            Create User
          </button>
          <button class="button create-dummy-button" (click)="saveData()">
            <span class="material-icons">save</span>
            Save
          </button>
        </div>
      </div>
      <div class="column">
        <div class="tag-user">
          <span class="material-icons username">account_circle</span>:
          <span class="username">{{ username }}</span>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="divider-line"></div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Username Column -->
        <ng-container matColumnDef="uswusrname">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Username </th>
          <td mat-cell *matCellDef="let record" class="text-left"> {{ record.uswusrname }} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="uswfname">
          <th mat-header-cell *matHeaderCellDef class="text-center"> First Name </th>
          <td mat-cell *matCellDef="let record" class="text-left"> {{ record.uswfname }} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="uswlname">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Last Name </th>
          <td mat-cell *matCellDef="let record" class="text-left"> {{ record.uswlname }} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="uswemail">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Email </th>
          <td mat-cell *matCellDef="let record" class="text-left"> {{ record.uswemail }} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="uswpos">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Position </th>
          <td mat-cell *matCellDef="let record" class="text-left"> {{ record.uswpos }} </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="uswrole">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Role </th>
          <td mat-cell *matCellDef="let record" class="text-center">
            <select class="ddl-role create-payment-button" [(ngModel)]="record.uswrole" (change)="updateRecord(record)">
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="uswstat">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let record">
            <select class="ddl" [(ngModel)]="record.uswstat" [ngStyle]="{
                'background-color': getBackgroundColor(record.uswstat),
                'border': '1px solid #00317A',
                'color': getTextColor(record.uswstat)
              }" (change)="updateRecord(record)">
              <option value="P" [ngClass]="{'pending-option': record.uswstat === 'P'}">Pending</option>
              <option value="A" [ngClass]="{'approve-option': record.uswstat === 'A'}">Approve</option>
              <option value="R" [ngClass]="{'reject-option': record.uswstat === 'R'}">Reject</option>
            </select>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="text-center"> </th>
          <td mat-cell *matCellDef="let record" class="text-center">
            <button class="button-row delete-button" (click)="deleteUser(record)">
              <span class="material-icons">person_remove</span>
              Delete
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <app-paging [totalRecords]="totalRecords" [pageSize]="page_limit" [pageIndex]="page_start"
      [pageSizeOptions]="pageSizeOptions" (pageChanged)="onPageChanged($event)">
    </app-paging>

  </div>

  <div *ngIf="isMobile" class="mobile-layout">
    <div [formGroup]="headerForm">
      <div class="row">
        <div class="tag">
          <span class="material-icons username">manage_accounts</span>
          <span class="username" style="font-size: 16px;">Manage User.</span>
        </div>
        <div class="tag-user">
          <span class="material-icons username">account_circle</span>:
          <span class="username">{{ username }}</span>
        </div>
      </div>
    </div>
    <div class="divider-line-top"></div>
    <div class="row-btn">
      <button class="button create-payment-button" (click)="createUsr()">
        <span class="material-icons" style="font-size: 16px;">person_add</span>
        Create User
      </button>
      <button class="button save-button" (click)="saveData()">
        <span class="material-icons" style="font-size: 16px;">save</span>
        Save
      </button>
    </div>
    <div class="card-container">
      <div class="divider-line"></div>
      <div class="card" *ngFor="let record of allData">
        <div class="row card-header">
          <button class="button-row delete-button" (click)="deleteUser(record)">
            <span class="material-icons icons" style="font-size: 18px;">cancel</span>
          </button>
        </div>
        <div class="card-content">
          <div class="card-row mb-color"><strong>Username : </strong> {{ record.uswusrname }}</div>
          <div class="card-row mb-color"><strong>First Name : </strong> {{ record.uswfname }}</div>
          <div class="card-row mb-color"><strong>Last Name : </strong> {{ record.uswlname }}</div>
          <div class="card-row mb-color"><strong>Email : </strong> {{ record.uswemail }}</div>
          <div class="card-row mb-color"><strong>Position : </strong> {{ record.uswpos }}</div>

          <!-- Role Dropdown -->
          <div class="form-group">
            <div class="form-group-box">
              <label for="role" class="mb-color"><strong>Role:</strong></label>
              <select class="ddl create-payment-button" [(ngModel)]="record.uswrole" (change)="updateRecord(record)">
                <option value="admin">Admin</option>
                <option value="user">User</option>
              </select>
            </div>

            <!-- Status Dropdown -->
            <div class="form-group-box">
              <label for="status" class="mb-color"><strong>Status:</strong></label>
              <select class="ddl" [(ngModel)]="record.uswstat" [ngStyle]="{
              'background-color': getBackgroundColor(record.uswstat),
              'border': '1px solid #00317A',
              'color': getTextColor(record.uswstat)
              }" (change)="updateRecord(record)">
                <option value="P" [ngClass]="{'pending-option': record.uswstat === 'P'}">Pending</option>
                <option value="A" [ngClass]="{'approve-option': record.uswstat === 'A'}">Approve</option>
                <option value="R" [ngClass]="{'reject-option': record.uswstat === 'R'}">Reject</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-paging [totalRecords]="totalRecords" [pageSize]="page_limit" [pageIndex]="page_start"
      [pageSizeOptions]="pageSizeOptions" (pageChanged)="onPageChanged($event)">
    </app-paging>
  </div>

  <div>
    <app-popup *ngIf="warning_pop" [title]="'WARNING MESSAGE'"
      [message]="'คุณยังไม่ได้เลือกรายการ กรุณาเลือกรายการก่อน ทำการ Payment.'" [headerColor]="'#FCD69D'"
      [confirmButton]="true" (close)="warning_pop = false" (confirm)="handleConfirm('warning')">
    </app-popup>
  </div>

  <!-- Success Popup -->
  <div>
    <app-popup *ngIf="savesucess_pop" [title]="'SUCCESS MESSAGE !'" [message]="'บันทึกสำเร็จ!'"
      [headerColor]="'#CCEFE8'" [confirmButton]="true" (close)="savesucess_pop = false"
      (confirm)="handleConfirm('savesucess')">
    </app-popup>
  </div>

  <!-- Fail Popup -->
  <div>
    <app-popup *ngIf="fail_pop" [title]="'FAIL MESSAGE !'" [message]="'ทำรายการไม่สำเร็จ.'" [headerColor]="'#FFDBDB'"
      [confirmButton]="true" (close)="fail_pop = false" (confirm)="handleConfirm('fail')">
    </app-popup>
  </div>

  <div>
    <app-popup *ngIf="delete_pop" [title]="'WARNING MESSAGE !'" [messageDelete]="messageDelete"
      [headerColor]="'#FCD69D'" [confirmButton]="true" [closeButton]="true" [text_button]="'Confirm'"
      (close)="delete_pop = false" (confirm)="ConfirmDeleteUser()">
    </app-popup>
  </div>


  <div>
    <app-popup *ngIf="warning_search" [title]="'WARNING MESSAGE !'"
      [message]="'กรุณากรอก Customer Code. และ Invoice No.'" [headerColor]="'#FCD69D'" [confirmButton]="true"
      (close)="warning_search = false" (confirm)="handleConfirm('search')">
    </app-popup>
  </div>

  <div>
    <app-creusr-popup *ngIf="creusr_pop" [title]="'Create User'" (close)="closeUserPopup()"
      (confirm)="confirmUser($event)">
    </app-creusr-popup>
  </div>

  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

</body>

</html>

<!-- Same for allDataTable -->