<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Your Angular App</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <!-- <div style="position: relative;">
    <img src="SIS.png" style="width: 110px; height: auto;">
    <label id="customerLabel" class="tag-name">{{ customerLabel }}</label>
  </div> -->
  <div [formGroup]="headerForm">
    <div class="row">
      <label class="tag">Manage User.</label>
      <button class="button save-button" (click)="saveData()">
        <span class="material-icons">save</span>
        Save
      </button>
      <div class="tag-user">
        <span class="material-icons username">account_circle</span>
        <span class="username">{{ username }}</span>
      </div>
    </div>
  </div>

  <!-- <div class="divider-line"></div>
  <div class="table-container">
    <ag-grid-angular 
      style="width: 100%; height: 600px;" 
      class="ag-theme-alpine" 
      [rowData]="allData"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div> -->

  <div class="divider-line"></div>

  <div class="table-container">
    <table id="filterDataTable">
      <thead>
        <tr>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Username
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            First Name
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Last Name
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Customer Code
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Customer Name
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Email
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Position
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Role
          </th>
          <th class="resize-handle" (mousedown)="startResizing($event)">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of allData">
          <td>{{ record.uswusrname }}</td>
          <td>{{ record.uswfname }}</td>
          <td>{{ record.uswlname }}</td>
          <td>{{ record.uswcuscode }}</td>
          <td>{{ record.uswcusname }}</td>
          <td>{{ record.uswemail }}</td>
          <td>{{ record.uswpos }}</td>
          <td>
            <select class="ddl create-payment-button" 
            [(ngModel)]="record.uswrole"
            (change)="updateRecord(record)">
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </td>
          <td>
            <select class="ddl " 
            [(ngModel)]="record.uswstat" 
            [ngStyle]="{
            'background-color': getBackgroundColor(record.uswstat),
            'border': '1px solid #00317A',
            'color': getTextColor(record.uswstat)
            }"
            (change)="updateRecord(record)">
              <option value="P" [ngClass]="{'pending-option': record.uswstat === 'P'}">Pending</option>
              <option value="A" [ngClass]="{'approve-option': record.uswstat === 'A'}">Approve</option>
              <option value="R" [ngClass]="{'reject-option': record.uswstat === 'R'}">Reject</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div>
    <app-popup *ngIf="warning_pop" [title]="'WARNING MESSAGE'"
      [message]="'คุณยังไม่ได้เลือกรายการ กรุณาเลือกรายการก่อน ทำการ Payment.'" [headerColor]="'#FCD69D'"
      [confirmButton]="true" (close)="warning_pop = false" (confirm)="handleConfirm('warning')">
    </app-popup>
  </div>

  <!-- Success Popup -->
  <div>
    <app-popup *ngIf="savesucess_pop" [title]="'SUCCESS MESSAGE !'" [message]="'บันทึกสำเร็จ!'"
      [headerColor]="'#CCEFE8'" [confirmButton]="true" (close)="savesucess_pop = false"
      (confirm)="handleConfirm('savesucess')">
    </app-popup>
  </div>

  <!-- Fail Popup -->
  <div>
    <app-popup *ngIf="fail_pop" [title]="'FAIL MESSAGE !'" [message]="'ทำรายการไม่สำเร็จ.'" [headerColor]="'#FFDBDB'"
      [confirmButton]="true" (close)="fail_pop = false" (confirm)="handleConfirm('fail')">
    </app-popup>
  </div>

  <!-- Fail Popup -->
  <div>
    <app-popup *ngIf="warning_search" [title]="'WARNING MESSAGE !'"
      [message]="'กรุณากรอก Customer Code. และ Invoice No.'" [headerColor]="'#FCD69D'" [confirmButton]="true"
      (close)="warning_search = false" (confirm)="handleConfirm('search')">
    </app-popup>
  </div>

  
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

</body>

</html>

<!-- Same for allDataTable -->