<!-- Laptop, Notebook, Tablet Layout -->
<div *ngIf="!isMobile" class="desktop-layout">
    <ul>
        <div class="image-container centered-img" style="text-align: center;">
            <img src="SIS.png" alt="SIS Logo" class="centered-img">
        </div>
        <div class="divider-line"></div>
        <div class="box1">
            <li *ngIf="!isLoggedInNow()">
                
                <a routerLink="web-payment/loginpage"
                    routerLinkActive="active"  
                    [routerLinkActiveOptions]="{exact: true}"
                    [class.active]="activeRoute === '/web-payment/loginpage'">
                    Login</a>
            </li>
            
            <li *ngIf="isLoggedInNow() && accountRole === 'admin'">
                <a routerLink="web-payment/mnusrpage" (click)="manageuser()"  
                routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact: true}" 
                [class.active]="activeRoute === '/web-payment/mnusrpage'">
                Manage User</a>
            </li>

            <li *ngIf="isLoggedInNow() && (accountRole === 'user' || accountRole === 'admin')">
                <a routerLink="web-payment/pymntpage" (click)="payment()"
                routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact: true}" 
                [class.active]="activeRoute === '/web-payment/pymntpage'">
                Payment</a>
            </li>

            <li *ngIf="isLoggedInNow() && (accountRole === 'user' || accountRole === 'admin')">
                <a routerLink="web-payment/history-header" (click)="history()"
                routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact: false}"
                [class.active]="isHistoryActive()">
                History</a>
            </li>
        </div>
        <div class="box2">
            <li *ngIf="isLoggedInNow()">
                <a class="logactive" routerLink="web-payment/loginpage" (click)="logout()">Logout</a>
            </li>
        </div>
    </ul>
</div>

<!-- Mobile Layout -->
<div *ngIf="isMobile" class="mobile-layout">
    <ul>
        <!-- Logo and Navigation links in the same row -->
        <div class="header-container">
            <div class="image-container centered-img">
                <img src="SIS.png" alt="SIS Logo" class="centered-img">
            </div>

            <div class="nav-links">
                <li *ngIf="!isLoggedInNow()">
                    <a routerLink="web-payment/loginpage" 
                    routerLinkActive="active"  
                    [routerLinkActiveOptions]="{exact: true}"
                    [class.active]="activeRoute === '/web-payment/loginpage'">
                    Login</a>
                </li>
                <li *ngIf="isLoggedInNow() && accountRole === 'admin'">
                    <a routerLink="web-payment/mnusrpage" (click)="manageuser()"  
                    routerLinkActive="active"  
                    [routerLinkActiveOptions]="{exact: true}" 
                    [class.active]="activeRoute === '/web-payment/mnusrpage'">
                    Manage User</a>
                </li>
                <li *ngIf="isLoggedInNow() && (accountRole === 'user' || accountRole === 'admin')">
                    <a routerLink="web-payment/pymntpage" (click)="payment()"  
                    routerLinkActive="active"  
                    [routerLinkActiveOptions]="{exact: true}" 
                    [class.active]="activeRoute === '/web-payment/pymntpage'">
                    Payment</a>
                </li>
                
                <li *ngIf="isLoggedInNow() && (accountRole === 'user' || accountRole === 'admin')">
                    <a routerLink="web-payment/history-header" (click)="history()"
                    routerLinkActive="active"  
                    [routerLinkActiveOptions]="{exact: true}" 
                    [class.active]="isHistoryActive()">
                    History</a>
                </li>
                <li *ngIf="isLoggedInNow()" style="right: 1px;">
                    <a class="logactive" routerLink="web-payment/loginpage" (click)="logout()">Logout</a>
                </li>
            </div>
        </div>

        <div class="divider-line"></div>
    </ul>
</div>

