<div *ngIf="!isMobile" class="desktop-layout">
    <div class="screen">
        <div class="container-register">
            <div class="image-container">
                <img src="SIS.png" alt="SIS Logo" class="centered-img">
            </div>
            <h2>Forgot Password</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onConfirm()">

                    <div class="column">
                            <label>Username</label>
                            <input type="text" formControlName="username" id="username" required
                                placeholder="Enter Username" autocomplete="off">
                        </div>
                        <div class="column">
                            <label>Email</label>
                            <input type="email" formControlName="email" id="email" required placeholder="example@gmail.com"
                                autocomplete="off">
                        </div>
                
                <div class="reg-page">
                    <div class="row">
                        <div class="column bot">
                            <a routerLink="web-payment/loginpage" (click)="login()" class="link for-pass">Back</a>
                        </div>
                        <div class="column">
                            <button class="confirm-button" type="button" [disabled]="!registerForm.valid"
                                (click)="onConfirm()">Confirm</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isMobile" class="mobile-layout">
    <div class="screen">
        <div class="container-register">
            <div class="image-container">
                <img src="SIS.png" alt="SIS Logo" class="centered-img">
            </div>
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onConfirm()">

                <!-- label name customer -->
                <div class="row">
                    <div class="column">
                        <label for="fstname">Name<span style="color: red;">*</span></label>
                    </div>
                    <div class="column">
                        <label for="username">Customer<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="row">
                    <!-- name-->
                    <div class="column bordor">
                        <div class="row">
                            <div class="column">
                                <input type="text" formControlName="fstname" id="fstname" required
                                    placeholder="Enter First Name" autocomplete="off">
                                <label class="desc">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <input type="text" formControlName="lstname" id="lstname" required
                                    placeholder="Enter Last Name" autocomplete="off">
                                <label class="desc">Last Name</label>
                            </div>
                        </div>
                    </div>

                    <!-- customer-->
                    <div class="column bordor">
                        <div class="row">
                            <div class="column">
                                <input type="text" formControlName="customercode" id="customercode" required
                                    placeholder="Enter Customer code" autocomplete="off">
                                <label class="desc">Customer code</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <input type="text" formControlName="customername" id="customername" required
                                    placeholder="Enter Customer Name" autocomplete="off">
                                <label class="desc">Customer Name</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- label username -->
                <div class="row">
                    <div class="column">
                        <label for="username">Username<span style="color: red;">*</span></label>
                    </div>
                </div>

                <div class="row bordor">
                    <!-- username pass -->
                    <div class="column">
                        <div class="row">
                            <div class="column">
                                <input type="text" formControlName="username" id="username" required
                                    placeholder="Enter Username" autocomplete="off">
                                <label class="desc">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <input type="password" formControlName="password" id="password" required
                                    placeholder="Enter password" autocomplete="off">
                                <label class="desc">Password</label>
                            </div>
                        </div>
                    </div>

                    <!-- email position-->
                    <div class="column">
                        <div class="row">
                            <div class="column">
                                <input type="email" formControlName="email" id="email" required
                                    placeholder="Enter Email" autocomplete="off">
                                <label class="desc">example&#64;gmail.com</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <input type="text" formControlName="position" id="position" required
                                    placeholder="Enter Position" autocomplete="off">
                                <label class="desc">Position</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="reg-page">
                    <div class="row">
                        <div class="column bot">
                            <a routerLink="web-payment/loginpage" (click)="login()" class="link for-pass">Back</a>
                        </div>
                        <div class="column">
                            <button class="confirm-button" type="button" [disabled]="!registerForm.valid"
                                (click)="onConfirm()">Confirm</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Fail Popup -->
<div>
    <app-popup *ngIf="fail_pop" [title]="'FAIL MESSAGE !'" [message]="'Register Error.Please Contract Admin !'"
        [headerColor]="'#FFDBDB'" [confirmButton]="true" (close)="fail_pop = false" (confirm)="handleConfirm('fail')">
    </app-popup>
</div>

<!-- cancelcaptcha Popup -->
<div>
    <app-popup *ngIf="captcha_cancel_pop" [title]="'FAIL MESSAGE !'" [message]="'Registration failed  !'"
        [headerColor]="'#FFDBDB'" [confirmButton]="true" (close)="captcha_cancel_pop = false"
        (confirm)="handleConfirm('captcha_cancel')">
    </app-popup>
</div>

<!-- dup Popup -->
<div>
    <app-popup *ngIf="dup_pop" [title]="'WARNING MESSAGE !'"
        [message]="'The Username was already entered. Please try again !'" [headerColor]="'#FCD69D'"
        [confirmButton]="true" (close)="dup_pop = false" (confirm)="handleConfirm('dup')">
    </app-popup>
</div>

<!-- Success Popup -->
<div>
    <app-popup *ngIf="success_pop" [title]="'SUCCESS MESSAGE !'" [message]="'Register Success !'"
        [headerColor]="'#CCEFE8'" [confirmButton]="true" (close)="success_pop = false"
        (confirm)="handleConfirm('success')">
    </app-popup>
</div>

<app-captcha-popup *ngIf="showCaptcha" (captchaResolved)="onCaptchaResolved($event)"></app-captcha-popup>
<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>