
.desktop-layout .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .desktop-layout .popup-content {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .desktop-layout .popup-header {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .desktop-layout .popup-body {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
  }
  
  .desktop-layout .popup-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eaeaea;
  }
  
  .desktop-layout .button-ok {
    background-color: #ccefe8; /* Light aqua background */
    border: 1px solid #1e8b50; /* Green border */
    color: #1e8b50; /* Green text color */
    padding: 5px 15px;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 2px;
  }
  
  .desktop-layout .button-ok .icon {
    margin-right: 5px;
    color: #1e8b50;
  }
  
  .desktop-layout .button-ok:hover {
    background-color: #b8ddd6; /* Slightly darker on hover */
  }
  
  .desktop-layout .button-close {
    background-color: #FFDBDB; /* Light aqua background */
    border: 1px solid #684C69; /* Green border */
    color: #684C69; /* Green text color */
    padding: 5px 15px;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;
  }
  
  .desktop-layout .button-close .icon {
    margin-right: 5px;
    color: #684C69;
  }
  
  .desktop-layout .button-close:hover {
    background-color: #f8d1d1; /* Slightly darker on hover */
  }
  
  .desktop-layout .text-header {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #684C69; /* Slightly darker on hover */
  }
  
  .desktop-layout .text-detail {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #684C69; /* Slightly darker on hover */
  }
  



  
.mobile-layout .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mobile-layout .popup-content {
  background: white;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mobile-layout .popup-header {
  padding: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.mobile-layout .popup-body {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.mobile-layout .popup-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eaeaea;
}

.mobile-layout .button-ok {
  background-color: #ccefe8; /* Light aqua background */
  border: 1px solid #1e8b50; /* Green border */
  color: #1e8b50; /* Green text color */
  padding: 8px 10px;
  border-radius: 8px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 2px;
}

.mobile-layout .button-ok .icon {
  margin-right: 5px;
  color: #1e8b50;
}

.mobile-layout .button-ok:hover {
  background-color: #b8ddd6; /* Slightly darker on hover */
}

.mobile-layout .button-close {
  background-color: #FFDBDB; /* Light aqua background */
  border: 1px solid #684C69; /* Green border */
  color: #684C69; /* Green text color */
  padding: 8px 10px;
  border-radius: 8px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 2px;
}

.mobile-layout .button-close .icon {
  margin-right: 5px;
  color: #684C69;
}

.mobile-layout .button-close:hover {
  background-color: #f8d1d1; /* Slightly darker on hover */
}

.mobile-layout .text-header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #684C69; /* Slightly darker on hover */
}

.mobile-layout .text-detail {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #684C69; /* Slightly darker on hover */
}
