<div class="custom-paginator">
    <!-- Items per page dropdown -->
    <label>Data/Page</label>
  
      <select class="css-select" [(ngModel)]="pageSize" (change)="changePageSize($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }}
        </option>
      </select>
   
    <!-- Page Navigation -->
    <span>Page</span>
    <input type="number" class="page-input" [(ngModel)]="pageIndex" (change)="goToPage(pageIndex)" />
    <span>of {{ totalPages }}</span>
  
    <!-- Row Range -->
    <span>Row {{ startIndex + 1 }} - {{ endIndex }} of {{ totalRecords }}</span>
  
    <!-- Pagination Controls -->
    <button class="css-btn" mat-icon-button (click)="firstPage()" [disabled]="pageIndex === 1">
      ⏮
    </button>
    <button class="css-btn" mat-icon-button (click)="prevPage()" [disabled]="pageIndex === 1">
      ◀
    </button>
    <button class="css-btn" mat-icon-button (click)="nextPage()" [disabled]="pageIndex === totalPages">
      ▶
    </button>
    <button class="css-btn" mat-icon-button (click)="lastPage()" [disabled]="pageIndex === totalPages">
      ⏭
    </button>
  </div>
  