.desktop-layout body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.desktop-layout .screen {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.desktop-layout .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40%;
}

.desktop-layout .container-register {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 60%;
}

.desktop-layout .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.desktop-layout .centered-img {
    max-width: 110px;
    height: auto;
}


.desktop-layout h2 {
    font-size: 18px;
    text-align: center;
    color: #00317A;
}

.desktop-layout .form-group {
    margin-top: 15px;
}

.desktop-layout .reg-page {
    margin-top: 15px;
}

.desktop-layout .row {
    display: flex;
    justify-content: space-between;
}

.desktop-layout .column {
    flex: 1;
    margin: 0 px;
    padding: 5px;
    border-radius: 5px;
}

.desktop-layout label {
    display: block;
    color: #00317A;
    margin-bottom: 5px;
}

.desktop-layout .desc{
    font-size: 12px;
    color: #556a8a;
    margin-top: 5px;
}

.desktop-layout input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.desktop-layout .login-button {
    width: 100%;
    padding: 10px;
    background-color: #bbfbcb;
    border: 1px solid #608a55;
    color: #113600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.desktop-layout .login-button:hover {
    background-color: #cef8db;
}

.desktop-layout .regis-button {
    width: 100%;
    padding: 10px;
    background-color: #bbdefb;
    border: 1px solid #556a8a;
    color: #00317A;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.desktop-layout .confirm-button {
    width: 100%;
    padding: 10px;
    background-color: #bbfbcb;
    border: 1px solid #608a55;
    color: #113600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.desktop-layout .regis-button:hover {
    background-color: #c6e4fc;
}


.desktop-layout .for-pass {
    font-size: 12px;
    color: #967300;
}


.desktop-layout .one-button {
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    position: center;
    margin-left: 37.5%;
}

.desktop-layout .bordor {
    border: 1px solid #92606f;
    border-radius: 5px;
    margin: 0 5px;
}

.desktop-layout .bot {
    margin-bottom: 5px 0;
}




/* Mobile layout */
.mobile-layout body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-layout .screen {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.mobile-layout .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 60%;
}

.mobile-layout .container-register {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 60%;
}

.mobile-layout .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mobile-layout .centered-img {
    max-width: 110px;
    height: auto;
}


.mobile-layout h2 {
    font-size: 18px;
    text-align: center;
    color: #00317A;
}

.mobile-layout .form-group {
    margin-top: 15px;
}

.mobile-layout .reg-page {
    margin-top: 15px;
}

.mobile-layout .row {
    display: flex;
    justify-content: space-between;
}

.mobile-layout .column {
    flex: 1;
    margin: 0 px;
    padding: 5px;
    border-radius: 5px;
}

.mobile-layout label {
    display: block;
    color: #00317A;
    margin-bottom: 5px;
}

.mobile-layout .desc{
    font-size: 12px;
    color: #556a8a;
    margin-top: 5px;
}

.mobile-layout input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mobile-layout .login-button {
    width: 100%;
    padding: 10px;
    background-color: #bbfbcb;
    border: 1px solid #608a55;
    color: #113600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-layout .login-button:hover {
    background-color: #cef8db;
}

.mobile-layout .regis-button {
    width: 100%;
    padding: 10px;
    background-color: #bbdefb;
    border: 1px solid #556a8a;
    color: #00317A;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.mobile-layout .confirm-button {
    width: 100%;
    padding: 10px;
    background-color: #bbfbcb;
    border: 1px solid #608a55;
    color: #113600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-layout .regis-button:hover {
    background-color: #c6e4fc;
}


.mobile-layout .for-pass {
    font-size: 12px;
    color: #967300;
}


.mobile-layout .one-button {
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    position: center;
    margin-left: 37.5%;
}

.mobile-layout .bordor {
    border: 1px solid #92606f;
    border-radius: 5px;
    margin: 0 5px;
}

.mobile-layout .bot {
    margin-bottom: 5px 0;
}




