
.desktop-layout.box {
    border: 2px solid #bb9b9a;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
  }

  
  .desktop-layout .text-link {
    color: #00317A;
    text-decoration: underline;
  }

  .desktop-layout .button-container {
    display: flex;
    align-items: center;
  }
  
  .desktop-layout .icon-cus {
    align-items: right;
  }
  
  .desktop-layout .but-save {
    align-items: left;
  }
  
  .desktop-layout .row-cus {
    display: flex;
    align-items: center;
  }
  
  .desktop-layout .button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    margin-left: 10px;
  }
  
  .desktop-layout .tag-user {
    /* position: absolute;/ */
    right: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    gap: 8px;
  }
  
  .desktop-layout .username{
    color: #5b3b4f
  }
  
  .desktop-layout .save-button {
    background-color: #e6fde3;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .desktop-layout .save-button:hover {
    background-color: #bbfbbe;
  }
  
  .desktop-layout .ddl {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    min-width: 95px;
  }
  
  .desktop-layout .ddl-stat {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    min-width: 95px;
  }
  
  
  
  /* Color styling for options inside dropdown */
  .desktop-layout .ddl-stat .pending-option {
    background-color: #e4e4e4 !important;
    color: #00317A !important;
  }
  
  .desktop-layout .ddl-stat .approve-option {
    background-color: #b8faec !important;
    color: #00317A !important;
  }
  
  .desktop-layout .ddl-stat .reject-option {
    background-color: #fd9a9a !important;
    color: #00317A !important;
  }
  
  
  
  .desktop-layout .ddl-role {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    min-width: 80px;
  }
  
  .desktop-layout .search-button {
    background-color: #f9e3e2;
    border: 1px solid #5b3b4f;
    color: #5b3b4f;
  }
  
  .desktop-layout .search-button:hover {
    background-color: #f7d6d6;
  }
  
  .desktop-layout .create-payment-button {
    background-color: #e3f2fd;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .desktop-layout .create-payment-button:hover {
    background-color: #bbdefb;
  }
  
  
  .desktop-layout .create-payment-button option[value="P"] {
    background-color: #e4e4e4;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .desktop-layout .create-payment-button option[value="A"] {
    background-color: #b8faec;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .desktop-layout .create-payment-button option[value="R"] {
    background-color: #fd9a9a;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .desktop-layout .button .material-icons {
    margin-right: 8px;
  }
  
  .desktop-layout .container {
    width: 100%;
    padding: 10px;
  }
  
  .desktop-layout .row-incol {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .desktop-layout .row-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .desktop-layout .row-btn {
    display: flex;
    align-items: center;
  }
  
  .desktop-layout .column-tag {
    border-radius: 5px;
  }

  .desktop-layout .column {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    flex: 1;
  }
  
  .desktop-layout .column-in,
  .desktop-layout .column-in-right {
    width: 100%;
    flex: 1;
  }
  
  .desktop-layout input, .desktop-layout select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }
  
  .desktop-layout .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .desktop-layout .column-in-right {
    margin-left: 10px; /* Ensure space between inputs */
  }
  .desktop-layout input {    
    height: 16px;
    width: 95.2%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }
  .desktop-layout .input-A {
    height: 16px;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }
  
  .desktop-layout .flex-container {
    display: flex;
    align-items: center;
  }
  
  .desktop-layout label {
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
  }
  
  .desktop-layout .table-container {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    height: 85%; 
  }
  
  .desktop-layout table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  
  .desktop-layout th,td {
    padding: 8px 12px;
    border-bottom: 1px solid #f9e3e2;
    color: #503651;
  }
  
  .desktop-layout th {
    background-color: #f9e3e2;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  
  .desktop-layout tr:nth-child(even) {
    background-color: #fdf7f6;
  }
  
  .desktop-layout tr:hover {
    background-color: #f9e3e2;
  }
  
  .desktop-layout input[type="checkbox"] {
    cursor: pointer;
  }
  
  .desktop-layout .text-right {
    text-align: right;
  }
  
  .desktop-layout .text-center {
    text-align: center;
  }
  
  .desktop-layout .text-left {
    text-align: left;
  }
  
  .desktop-layout body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
  }
  
  .desktop-layout .checkbox-custom {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #885a8a;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .desktop-layout .checkbox-custom:checked {
    background-color: #885a8a;
    border-color: #885a8a;
  }
  
  .desktop-layout .checkbox-custom:checked::after {
    content: '✔';
    color: #f9e3e2;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
  
  
  
  .desktop-layout .size-usrname {
    width: 10%;
  }
  
  .desktop-layout .size-fname {
    width: 15%;
  }
  
  .desktop-layout .size-lname {
    width: 15%;
  }
  
  .desktop-layout .size-cuscode {
    width: 10%;
  }
  
  .desktop-layout .size-cusname {
    width: 10%;
  }
  
  .desktop-layout .size-email {
    width: 10%;
  }
  
  .desktop-layout .size-pos {
    width: 10%;
  }
  
  .desktop-layout .size-role {
    width: 10%;
  }
  
  .desktop-layout .size-stat {
    width: 10%;
  }
  
  .desktop-layout p {
    text-align: center;
  }
  
  .desktop-layout footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .desktop-layout footer p {
    margin: 0;
  }
  
  .desktop-layout .tag {
    background-color: #e3f2fd;
    display: flex;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;
    border-bottom: 1px solid #00317A;
    color: #503651;
    border-radius: 4px;
    gap: 8px;
    align-items: center;
  }
  
  .desktop-layout .tag-name {
    background-color: #e3f2fd;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 12px;
    border: 1px solid #00317A;
    color: #503651;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 0%;
    display: none;
  }
  
  /* Custom alert box styling */
  .desktop-layout .custom-warning {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .desktop-layout #custom-warning-header {
    width: 100%;
    padding: 10px 0;
    background-color: #FCD69D;
    color: #684C69;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .desktop-layout #custom-warning-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .desktop-layout #custom-warning-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
  }
  
  /* Button styling */
  .desktop-layout #custom-warning-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .desktop-layout #custom-warning-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .desktop-layout .custom-warning.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Custom alert box styling */
  .desktop-layout .custom-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .desktop-layout #custom-success-header {
    width: 100%;
    padding: 10px 0;
    background-color: #b7ecd8;
    /* Light green */
    color: #684C69;
    /* Dark green text */
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .desktop-layout #custom-success-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .desktop-layout #custom-success-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
  }
  
  /* Button styling */
  .desktop-layout #custom-success-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .desktop-layout #custom-success-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .desktop-layout .custom-success.show {
    opacity: 1;
    visibility: visible;
  }
  
  
  /* Custom alert box styling */
  .desktop-layout .custom-fail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .desktop-layout #custom-fail-header {
    width: 100%;
    padding: 10px 0;
    background-color: #f7d1d1;
    /* Light green */
    color: #684C69;
    /* Dark green text */
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .desktop-layout #custom-fail-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .desktop-layout #custom-fail-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
  }
  
  /* Button styling */
  .desktop-layout #custom-fail-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .desktop-layout #custom-fail-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .desktop-layout .custom-fail.show {
    opacity: 1;
    visibility: visible;
  }
  
  
  /* Custom alert box styling */
  .desktop-layout .custom-amtZero {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .desktop-layout #custom-amtZero-header {
    width: 100%;
    padding: 10px 0;
    background-color: #D1E4FF;
    /* Light green */
    color: #684C69;
    /* Dark green text */
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .desktop-layout #custom-amtZero-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .desktop-layout #custom-amtZero-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
    padding: 0px 10px;
  }
  
  /* Button styling */
  .desktop-layout #custom-amtZero-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .desktop-layout #custom-amtZero-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .desktop-layout .custom-amtZero.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styling the resize handle */
  .desktop-layout th.resize-handle {
    cursor: ew-resize;
    position: relative;
    padding-right: 20px; /* Gives space for the resize handle */
  }
  
  .desktop-layout th.resize-handle::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    z-index: 10;
  }
  
  .desktop-layout .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 999;
    /* Make sure it's above other content */
    display: none;
    /* Initially hidden */
  }
  
  .desktop-layout .divider-line {
    width: 100%;
    height: 2px;
    background-color: #bb9b9a;
    margin-top: 20px;
  }
  
  
  /* Mobile layout */
  
  .mobile-layout .button-container {
    display: flex;
    align-items: center;
  }
  
  .mobile-layout .icon-cus {
    align-items: right;
  }
  
  .mobile-layout .but-save {
    align-items: left;
  }
  
  .mobile-layout .row-cus {
    display: flex;
    align-items: center;
  }
  
  .mobile-layout .button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    margin-left: 10px;
  }
  
  .mobile-layout .container-a {
    width: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .mobile-layout .container-b {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .mobile-layout .tag-user {
    right: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    gap: 8px;
  }
  
  .mobile-layout .username{
    color: #5b3b4f
  }
  
  .mobile-layout .save-button {
    background-color: #e6fde3;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .mobile-layout .save-button:hover {
    background-color: #bbfbbe;
  }
  
  .mobile-layout .ddl {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    width: min-content;
  }
  
  .mobile-layout .search-button {
    background-color: #f9e3e2;
    border: 1px solid #5b3b4f;
    color: #5b3b4f;
  }
  
  .mobile-layout .search-button:hover {
    background-color: #f7d6d6;
  }
  
  .mobile-layout .create-payment-button {
    background-color: #e3f2fd;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .mobile-layout .create-payment-button:hover {
    background-color: #bbdefb;
  }
  
  
  .mobile-layout .create-payment-button option[value="P"] {
    background-color: #e4e4e4;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .mobile-layout .create-payment-button option[value="A"] {
    background-color: #b8faec;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .mobile-layout .create-payment-button option[value="R"] {
    background-color: #fd9a9a;
    border: 1px solid #00317A;
    color: #00317A;
  }
  
  .mobile-layout .button .material-icons {
    margin-right: 8px;
  }
  
  .mobile-layout .container {
    width: 100%;
    padding: 10px;
  }
  
  .mobile-layout .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  
  .mobile-layout .row-cl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
  }

  .mobile-layout .input-A {
    height: 16px;
    width: 87%;
    padding-top: 10px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }

  .mobile-layout .input-B {
    height: 16px;
    width: 94%;
    padding: 10px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }
  
  .mobile-layout .box {
    border: 2px solid #bb9b9a;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    align-items: center;
    place-self: anchor-center
  }
  
  .mobile-layout .row-btn {
    display: flex;
    align-items: center;
  }
  
  .mobile-layout .column {
    border-radius: 5px;
  }
  
  .mobile-layout .column-in,
  .mobile-layout .column-in-right {
    width: 100%;
    flex: 1;
  }
  
  .mobile-layout .column-btn {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
  } 

  .mobile-layout .text-link {
    color: #00317A;
    text-decoration: underline;
    margin-left: 10px;
    margin-top: 15px;
  }
  
  .mobile-layout input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }
  
  .mobile-layout .flex-container {
    display: flex;
    align-items: center;
  }
  
  .mobile-layout label {
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
  }
  
  .mobile-layout .table-container {
    max-width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    height: 85%; 
  }
  
  .mobile-layout table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mobile-layout th,td {
    padding: 8px 12px;
    border-bottom: 1px solid #f9e3e2;
    color: #503651;
  }
  
  .mobile-layout th {
    background-color: #f9e3e2;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .mobile-layout tr:nth-child(even) {
    background-color: #fdf7f6;
  }
  
  .mobile-layout tr:hover {
    background-color: #f9e3e2;
  }
  
  .mobile-layout input[type="checkbox"] {
    cursor: pointer;
  }
  
  .mobile-layout .text-right {
    text-align: right;
  }
  
  .mobile-layout .text-center {
    text-align: center;
  }
  
  .mobile-layout .text-left {
    text-align: left;
  }
  
  .mobile-layout body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
  }
  
  .mobile-layout .checkbox-custom {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #885a8a;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-layout .checkbox-custom:checked {
    background-color: #885a8a;
    border-color: #885a8a;
  }
  
  .mobile-layout .checkbox-custom:checked::after {
    content: '✔';
    color: #f9e3e2;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
  
  .mobile-layout p {
    text-align: center;
  }
  
  .mobile-layout footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .mobile-layout footer p {
    margin: 0;
  }
  
  .mobile-layout .tag {
    background-color: #e3f2fd;
    display: flex;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;
    border-bottom: 1px solid #00317A;
    color: #503651;
    border-radius: 4px;
    gap: 8px;
    align-items: center;
    margin-left: 10px;
  }
  
  .mobile-layout .tag-name {
    background-color: #e3f2fd;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 12px;
    border: 1px solid #00317A;
    color: #503651;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 0%;
    display: none;
  }
  
  /* Custom alert box styling */
  .mobile-layout .custom-warning {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-layout #custom-warning-header {
    width: 100%;
    padding: 10px 0;
    background-color: #FCD69D;
    color: #684C69;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mobile-layout #custom-warning-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .mobile-layout #custom-warning-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
  }
  
  /* Button styling */
  .mobile-layout #custom-warning-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .mobile-layout #custom-warning-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .mobile-layout .custom-warning.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Custom alert box styling */
  .mobile-layout .custom-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-layout #custom-success-header {
    width: 100%;
    padding: 10px 0;
    background-color: #b7ecd8;
    /* Light green */
    color: #684C69;
    /* Dark green text */
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mobile-layout #custom-success-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .mobile-layout #custom-success-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
  }
  
  /* Button styling */
  .mobile-layout #custom-success-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .mobile-layout #custom-success-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .mobile-layout .custom-success.show {
    opacity: 1;
    visibility: visible;
  }
  
  
  /* Custom alert box styling */
  .mobile-layout .custom-fail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-layout #custom-fail-header {
    width: 100%;
    padding: 10px 0;
    background-color: #f7d1d1;
    /* Light green */
    color: #684C69;
    /* Dark green text */
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mobile-layout #custom-fail-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .mobile-layout #custom-fail-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
  }
  
  /* Button styling */
  .mobile-layout #custom-fail-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .mobile-layout #custom-fail-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .mobile-layout .custom-fail.show {
    opacity: 1;
    visibility: visible;
  }
  
  
  /* Custom alert box styling */
  .mobile-layout .custom-amtZero {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5b3b4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile-layout #custom-amtZero-header {
    width: 100%;
    padding: 10px 0;
    background-color: #D1E4FF;
    /* Light green */
    color: #684C69;
    /* Dark green text */
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mobile-layout #custom-amtZero-bottom {
    width: 100%;
    border-top: 1px solid #dce8f1;
  }
  
  /* Message styling */
  .mobile-layout #custom-amtZero-message {
    margin: 20px 0;
    color: #5b3b4f;
    /* Text color for message */
    font-size: 16px;
    padding: 0px 10px;
  }
  
  /* Button styling */
  .mobile-layout #custom-amtZero-button {
    padding: 5px 12px;
    background-color: #B7ECEC;
    color: #0F530F;
    border: 1px solid #0F530F;
    /* Dark green border */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-self: flex-end;
    gap: 5px;
    margin-bottom: 3%;
    margin-left: 83%;
    margin-top: 2%;
  }
  
  /* Optional: Hover effect */
  .mobile-layout #custom-amtZero-button:hover {
    background-color: #d2eafc;
  }
  
  /* Show state */
  .mobile-layout .custom-amtZero.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styling the resize handle */
  .mobile-layout th.resize-handle {
    cursor: ew-resize;
    position: relative;
    padding-right: 20px; /* Gives space for the resize handle */
  }
  
  .mobile-layout th.resize-handle::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    z-index: 10;
  }
  
  .mobile-layout .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 999;
    /* Make sure it's above other content */
    display: none;
    /* Initially hidden */
  }
  
  .mobile-layout .divider-line {
    width: 95%;
    height: 2px;
    background-color: #bb9b9a;
    margin-top: 15px;
  }
  
  
  .mobile-layout .divider-line-top {
    width: 100%;
    height: 2px;
    background-color: #bb9b9a;
    margin-top: 15px;
  }
  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 80%;
    border: 1px solid #ddd;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .desktop-layout select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f9e3e2;
    border-radius: 5px;
  }
  
  h3 {
    color: #5b3b4f;
    margin-bottom: 10px;
  }
  
  .mb-color {
    color: #5b3b4f;
    left: 1px;
    font-size: 14px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-group-box {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between label and select */
  }
  
  .card-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  