<div *ngIf="!isMobile" class="desktop-layout">

    <div class="popup-overlay">
        <div class="popup-content">
            <div class="popup-header" [ngStyle]="{ backgroundColor: headerColor }">
                <div class="text-header">{{ title }}</div>
            </div>
            <div class="popup-body">
                <div class="box">
                    <div class="text-detail"> Link To Pay </div>
                    <input autocomplete="off" type="text" id="linkToCopy" [(ngModel)]="linkToCopy" [disabled]="true" />
                </div>
            </div>
            <div class="popup-footer">
                <button class="button-close" (click)="closeAction()" *ngIf="closeButton">
                    <span class="material-icons">close</span>
                    Close
                </button>
                <button class="button-copy" (click)="copyLink()">
                    <span class="material-icons">link</span>
                    Copy Link
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isMobile" class="mobile-layout">
    <div class="popup-overlay">
        <div class="popup-content">
            <div class="popup-header" [ngStyle]="{ backgroundColor: headerColor }">
                <div class="text-header">{{ title }}</div>
            </div>
            <div class="popup-body">
                <div class="box">
                    <div class="text-detail"> Link To Pay </div>
                    <input autocomplete="off" type="text" id="linkToCopy" [(ngModel)]="linkToCopy" [disabled]="true" />
                </div>
            </div>
            <div class="popup-footer">
                <button class="button-close" (click)="closeAction()" *ngIf="closeButton">
                    <span class="material-icons" style="font-size: 16px">close</span>
                </button>
                <button class="button-copy" (click)="copyLink()">
                    <span class="material-icons" style="font-size: 16px">link</span>
                    Copy Link
                </button>
            </div>
        </div>
    </div>
</div>