
.container {
    display: flex;
    height: 100vh; /* Full height */
  }
  
  .sidebar {
    width: 15%;
    background-color: #f0f0f0; /* Adjust color as needed */
  }
  
  .content {
    width: 85%;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
  }
  
  
  .sidebar ul li a:hover {
    background-color: green;
    color: white;
  }
  
  
  .sidebar {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  